<!-- Первый компонент - заголовок -->
<h1 class="page__title">{{getName()}}'s To-Do List</h1>

<!-- Второй компонент - поле с кнопкой -->
<div class="input-form form">
  <input class="input-form__input" #todoText />
  <button (click)="addItem(todoText.value)">Add
  </button>
</div>

<!-- Третий компонент - блок To-Do -->
<div *ngFor="let item of getTodoItems(); let i = index" class='todo__block'>
  <div class="todo__block_number">
    {{i+1}}
  </div>
  <div class="todo__block_action">
    {{item.action}}
  </div>
  <div class='todo__block_checkbox'>
    <input type="checkbox" [(ngModel)]="item.done" />
  </div>
  <div class="todo__block_status">
    <span *ngIf="item.done">Yes</span>
    <span *ngIf="!item.done">No</span>
  </div>
</div>
